.sobre-hero {
  background: #179c6c;
  color: #ffffff;
  text-align: center;
  padding: 80px 20px;
}

.sobre-hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.sobre-hero p {
  font-size: 20px;
}

.sobre-bloco {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 80px 40px;
  gap: 40px;
  line-height: 1.5;
  font-size: large;
}

.sobre-bloco img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
}

.sobre-bloco .texto {
  max-width: 500px;
}

.sobre-bloco .texto p{
  text-indent: 40px;
}

.sobre-bloco h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.sobre-bloco p {
  color: #757575;
}

.sobre-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 60px;
}

.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 25px;
  width: 280px;
}

.card h3 {
  margin-bottom: 10px;
  color: #1e8449;
}

.card p {
  color: #757575;
}

.sobre-diferencial {
  padding: 80px 40px;
  text-align: center;
}

.sobre-diferencial h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.sobre-diferencial ul {
  list-style: none;
  padding: 0;
}

.sobre-diferencial li {
  margin: 10px 0;
  color: #757575;
}