.contato-hero {
  background: #179c6c;
  color: #ffffff;
  text-align: center;
  padding: 80px 20px;
}

.contato-hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.contato-hero p {
  font-size: 20px;
}

.contato-content {
  display: flex;
  gap: 50px;
  padding: 50px;
  background: #f5f5f5;
}

.contato-content {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 60px 80px;
  background: #f3f4f6;
  align-items: flex-start;
  flex-wrap: wrap;
}

.info {
  width: 350px;
}

.info h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #0f172a;
}

.info p {
  color: #475569;
  line-height: 1.6;
  margin-bottom: 30px;
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 30px;
}

.info-item svg {
  font-size: 30px; color: #16a34a; background-color: #dcfce7; padding: 10px; border-radius: 10px; margin-bottom: 15px;
}

.info-item h4 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #0f172a;
}

.info-item p {
  margin: 0;
  color: #475569;
}

.formulario {
  background: #ffffff;
  width: 700px;
  padding: 35px;
  border-radius: 18px;
}

.formulario h2 {
  font-size: 38px;
  margin-bottom: 30px;
  color: #0f172a;
}

.formulario form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.input.grande {
  width: 100%;
}

.formulario input,
.formulario textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.formulario textarea {
  font-family: "Miranda Sans", sans-serif;
}

.formulario button {
  background: #179c6c;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 16px;
  width: 200px;
}

.formulario select {
  width: 100%;
  padding: 15px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-size: 16px;
}


